<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<header class="header-area overlay" >
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand"><img src="../img/logo.png" alt="Niezła babka" class="img-fluid"></a>

      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
      </button>

      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a href="#" class="nav-item nav-link active" (click)="onOpenModal(null, 'add' )">Dodaj produkt</a></li>
<!--          <li><a href="#" class="nav-item nav-link active">Oferta</a></li>-->
<!--          <li><a href="#" class="nav-item nav-link">O nas</a></li>-->
<!--          <li class="dropdown">-->
<!--            <a href="#" class="nav-item nav-link" data-toggle="dropdown">Edycja</a>-->
<!--            <div class="dropdown-menu">-->
<!--              <a href="#" class="dropdown-item">Dodaj produkt</a>-->
<!--              <a href="#" class="dropdown-item">Edytuj lub Usuń</a>-->
<!--            </div>-->
<!--          </li>-->
          <li><a href="#" class="nav-item nav-link"><i
            class="zmdi zmdi-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="main-container container" id="mainContainer">
  <div class="row clearfix mt-8">
    <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let product of products">
      <div class="card product_item">
        <div class="body">
          <div class="cp_img img-wrapper">
            <img src="..{{product?.imgSrc}}" alt="Product" class="img-fluid">
            <div class="tags">
              <span class="label-tags" *ngIf="product.no_added_sugar === true"><span class="label label-no-sugar">No added sugar</span></span>
              <span class="label-tags" *ngIf="product.no_gluten === true"><span class="label label-no-gluten">No gluten</span></span>
              <span class="label-tags" *ngIf="product.vegan === true"><span class="label label-vegan">Vegan</span></span>
              <span class="label-tags" *ngIf="product.keto === true"><span class="label label-keto">Keto</span></span>
            </div>
            <div class="hover">
              <a (click)="onOpenModal(product, 'edit' )" href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i
                class="zmdi zmdi-edit"></i></a>
              <a (click)="onOpenModal(product, 'delete' )" href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i
                class="zmdi zmdi-delete"></i></a>
            </div>
          </div>
          <div class="product_details">
            <h5><a href="ec-product-detail.html">{{product.name}}</a></h5>
            <ul class="product_price list-unstyled">
              <li class="old_price">{{product.price}} zł</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- Add Product -->
<div class="modal " tabindex="-1" id="addProductModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Dodawanie produktu</h3>
        <button type="button" class="zmdi zmdi-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
      </div>
      <form class="form" #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">
      <div class="modal-body">
          <div class="form-group">
            <label>Nazwa</label>
            <input class="form-control" ngModel type="text" name="name"  placeholder="Produkt">
          </div>
          <div class="form-group row">
            <div class="col">
              <label>Cena</label>
              <input class="form-control" ngModel type="number" name="price"  step="0.01" placeholder="zł">
            </div>
            <div class="col">
              <label>Dostępna ilość</label>
              <input class="form-control" ngModel type="number" name="quantity" placeholder="szt.">
            </div>
          </div>
          <div class="form-group">
            <label>Informacje dodatkowe</label>
            <div class="custom-controls-stacked px-2">
              <div class="custom-control custom-checkbox">
              <input type="checkbox" [(ngModel)]="isMelting" class="custom-control-input" id="is-melting" name="melting" >
              <label class="custom-control-label" for="is-melting">Mrożone</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" [(ngModel)]="isNoGluten" class="custom-control-input" id="is-no-gluten" name="no_gluten" >
              <label class="custom-control-label" for="is-no-gluten">Bez glutenu</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" [(ngModel)]="isNoSugar" class="custom-control-input" id="is-no-added-sugar" name="no_added_sugar" >
              <label class="custom-control-label" for="is-no-added-sugar">Bez dodatku cukru</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" [(ngModel)]="isKeto" class="custom-control-input" id="is-keto" name="keto">
              <label class="custom-control-label" for="is-keto">Keto</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" [(ngModel)]="isVegan" class="custom-control-input" id="is-vegan" name="vegan" >
              <label class="custom-control-label" for="is-vegan">Vegan</label>
            </div>
            <div class="form-group chooseImg">
              <label class="btn btn-primary col" for="photoInput">
                <input type="file" (change)="onFileChange($event)" id="photoInput" accept="image/*">
                <i class="fa fa-fw fa-camera"></i>
                <span>Zdjęcie</span>
              </label>
              <img *ngIf="img" [src]="imgPreview">
            </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="add-product-form">Zamknij</button>
        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Zapisz</button>
      </div>
      </form>
    </div>
  </div>
</div>


<--! Edit Module-->
  <div class="modal " tabindex="-1" id="editProductModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Dodawanie produktu</h3>
          <button type="button" class="zmdi zmdi-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
        </div>
        <form class="form" #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">
          <div class="modal-body">
            <div class="form-group">
              <label>Nazwa</label>
              <input class="form-control" ngModel type="text" name="name"  placeholder="Produkt">
            </div>
            <div class="form-group row">
              <div class="col">
                <label>Cena</label>
                <input class="form-control" ngModel type="number" name="price"  step="0.01" placeholder="zł">
              </div>
              <div class="col">
                <label>Dostępna ilość</label>
                <input class="form-control" ngModel type="number" name="quantity" placeholder="szt.">
              </div>
            </div>
            <div class="form-group">
              <label>Informacje dodatkowe</label>
              <div class="custom-controls-stacked px-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="isMelting" class="custom-control-input" id="edit-is-melting" name="melting" >
                  <label class="custom-control-label" for="edit-is-melting">Mrożone</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="isNoGluten" class="custom-control-input" id="edit-is-no-gluten" name="no_gluten" >
                  <label class="custom-control-label" for="edit-is-no-gluten">Bez glutenu</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="isNoSugar" class="custom-control-input" id="edit-is-no-added-sugar" name="no_added_sugar" >
                  <label class="custom-control-label" for="edit-is-no-added-sugar">Bez dodatku cukru</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="isKeto" class="custom-control-input" id="edit-is-keto" name="keto">
                  <label class="custom-control-label" for="edit-is-keto">Keto</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="isVegan" class="custom-control-input" id="edit-is-vegan" name="vegan" >
                  <label class="custom-control-label" for="edit-is-vegan">Vegan</label>
                </div>
                <div class="form-group chooseImg">
                  <label class="btn btn-primary col" for="photoInput">
                    <input type="file" (change)="onFileChange($event)"  accept="image/*">
                    <i class="fa fa-fw fa-camera"></i>
                    <span>Zdjęcie</span>
                  </label>
                  <img *ngIf="img" [src]="imgPreview">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Zamknij</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Zapisz</button>
          </div>
        </form>
      </div>
    </div>
  </div>


<--! Delete Modal-->
  <div class="modal " tabindex="-1" id="deleteProductModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Usuwanie produktu </h3>
          <button type="button" class="zmdi zmdi-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
        </div>
        <div class="modal-body"><h5>Czy napewno chcesz usunąć produkt?</h5></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
          <button type="button" class="btn btn-primary">Usuń</button>
        </div>
      </div>
    </div>
  </div>

</div>
